body {
    background-color: black;
    margin: 0%;
    padding: 0%;
}

.text {
    color: white;
    width: 100%;
    text-align: justify;
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.text img  {
    width: 60%;
}